<section class="map-banner">
    <div class="container">
        <div class="map-overlay">
            <span class="map__label">Location</span>
            <h2 class="map__title">DePaul Lincoln Park Campus</h2>
            <p class="map__address"><a href="#">2320 N Kenmore Ave, <br/>Chicago, IL 60614</a></p>
            <a href="#" class="cta-link--yellow">Learn More  <span class="cta-arrow">{% include 'svg/arrow.svg' %}</span></a>
        </div>
    </div>
</section>
<section class="banner">
    <div class="container">
        <h2 class="banner-title">Thank you to our Sponsors</h2>
        <div class="l-3up">
            <a class="sponsor-item" href="#">
                <img src="{{site.url}}/assets/imgs/JetBrains_newest_3.png" alt="HS2">
            </a>
        </div>
        <div class="l-3up">
            <a class="sponsor-item" href="#">
                <img src="{{site.url}}/assets/imgs/amazeeio-logo.jpg" alt="amazee.io">
            </a>
        </div>
        <div class="l-3up">
            <a class="sponsor-item" href="#">
                <img src="{{site.url}}/assets/imgs/vertmanifest_logoweb.png" alt="Manifest">
            </a>
        </div>
        <div class="l-1up button--center-container">
            <a href="#" class="cta-link">Become a Sponsor<span class="cta-arrow">{% include 'svg/arrow.svg' %}</span></a>

            <a href="#" class="cta-link">See all Sponsors<span class="cta-arrow">{% include 'svg/arrow.svg' %}</span></a>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <div class="l-2up">
            <h3 class="footer-title"><a href="#">Midcamp</a></h3>
            <div class="footer-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <p>For more information email us at <a href="mailto:info@midcamp.org">info@midcamp.org</a></p>
            </div>
            <ul class="social--footer">
                <li class="social__item--footer"><a href="#">{% include 'svg/social-twitter.svg' %} <span>Twitter</span></a></li>
                <li class="social__item--footer"><a href="#">{% include 'svg/social-facebook.svg' %} <span>Facebook</span></a></li>
                <li class="social__item--footer"><a href="#">{% include 'svg/social-youtube.svg' %} <span>YouTube</span></a></li>
            </ul>
        </div>
        <div class="l-2up">
            <div class="l-1up">
                <nav class="footer-nav">
                    <ul class="footer-nav__list">
                        <li class="footer-nav__list-item"><a href="#">About</a></li>
                        <li class="footer-nav__list-item"><a href="#">Events</a></li>
                        <li class="footer-nav__list-item"><a href="#">Blog</a></li>
                        <li class="footer-nav__list-item"><a href="#">Volunteer</a></li>
                        <li class="footer-nav__list-item"><a href="#">Code of Conduct</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-sponsors">
                <div class="footer-sponsor">
                    <a class="sponsor-item" href="#">
                        <img src="{{site.url}}/assets/imgs/vertmanifest_logoweb.png" alt="Manifest">
                    </a>
                </div>
                <div class="footer-sponsor">
                    <a class="sponsor-item" href="#">
                        <img src="{{site.url}}/assets/imgs/amazeeio-logo.jpg" alt="Amazee.io">
                    </a>
                </div>
                <div class="footer-sponsor">
                    <a class="sponsor-item" href="#">
                        <img src="{{site.url}}/assets/imgs/palantirnet-logo.png" alt="Palantir.net">
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>
