<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News Teaser | MidCamp Hatter Styleguide</title>
  <link rel="stylesheet" href="https://MidCamp.github.io/Hatter//assets/css/styles.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,400i,700,700i|Poppins:400,700" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" href="https://MidCamp.github.io/Hatter//assets/imgs/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="container">
  <header class="styleguide-header">
    <h5 class="styleguide-label">Living Styleguide</h5>
    <a href="/"><h1>MidCamp Hatter Styleguide</h1></a>
  </header>
</div>

  <div class="styleguide-description">
  <div class="container">
    <div class="l-styleguide-column">
      <main>
        <h2>News Teaser</h2>
        <p> This is the news teaser component for the homepage. Use it to showcase the latest news articles on the homepage.</p>
      </main>
    </div>
  </div>
</div>    <div class="styleguide-component">
            


  <div class="container">
    <div class="l-3up news-teaser">
      <div class="news-teaser__date">Sep 28th, 2017 </div>
      <h3 class="news-teaser__title"><a href="#">Some news and information about MidCamp 2018</a></h3>
      <p>Unbelievable! Some idiot disabled his firewall, meaning all the computers on Seven are teeming with viruses, plus I've just had to walk all the way down the motherfudging stairs, because the lifts are broken AGAIN!</p>
    </div>
    <div class="l-3up news-teaser">
      <div class="news-teaser__date">Sep 28th, 2017 </div>
      <h3 class="news-teaser__title"><a href="#">Some news and information about MidCamp 2018</a></h3>
      <p>I mean, they have no respect for us up there! No respect whatsoever! We're all just drudgeons to them!</p>
    </div>
    <div class="l-3up news-teaser">
      <div class="news-teaser__date">Sep 28th, 2017 </div>
      <h3 class="news-teaser__title"><a href="#">Some news and information about MidCamp 2018</a></h3>
      <p>You can come down here any time and I'll be waiting for you! [slams down phone] That told her! I've got Aunt Irma visiting. Oh, do you not like Aunt Irma?</p>
    </div>
  </div>


          </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://MidCamp.github.io/Hatter//assets/libraries/styleguide.js"></script>
    <script src="https://MidCamp.github.io/Hatter//assets/js/site.js"></script>

</body>
</html>
