<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sub Events List | MidCamp Hatter Styleguide</title>
  <link rel="stylesheet" href="https://MidCamp.github.io/Hatter//assets/css/styles.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,400i,700,700i|Poppins:400,700" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" href="https://MidCamp.github.io/Hatter//assets/imgs/favicon.ico" type="image/x-icon" />
  <!-- mapbox -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<div class="container">
  <header class="styleguide-header">
    <h5 class="styleguide-label">Living Styleguide</h5>
    <a href="/"><h1>MidCamp Hatter Styleguide</h1></a>
  </header>
</div>

  <div class="styleguide-description">
  <div class="container">
    <div class="l-styleguide-column">
      <main>
        <h2>Sub Events List</h2>
        <p> This is the sub events list component for the homepage. Use it to showcase sub-events of the main event, like a party or training during a camp.</p>
      </main>
    </div>
  </div>
</div>    <div class="styleguide-component">
            


<section class="banner">
  <div class="sub-event-list">
    <a href="#" class="sub-event">
      <div class="sub-event__bg-img">
        <img src="https://MidCamp.github.io/Hatter//assets/imgs/training.jpg" alt="#">
      </div>
      <div class="sub-event__inner">
        <div class="sub-event__date">Mar 8th - 9th, 2018</div>
        <h3>Drupal Training</h3>
        <small class="sub-event__link-text">Learn More<span class="element-invisible"> about Drupal Training</span></small>
      </div>
    </a>
    <a href="#" class="sub-event">
      <div class="sub-event__bg-img">
        <img src="https://MidCamp.github.io/Hatter//assets/imgs/summit.jpg" alt="#">
      </div>
      <div class="sub-event__inner">
        <div class="sub-event__date">Mar 8th, 2018</div>
        <h3>Summits</h3>
        <small class="sub-event__link-text">Learn More<span class="element-invisible"> about Summits</span></small>
      </div>
    </a>
    <a href="#" class="sub-event">
      <div class="sub-event__bg-img">
        <img src="https://MidCamp.github.io/Hatter//assets/imgs/party.jpg" alt="#">
      </div>
      <div class="sub-event__inner">
        <div class="sub-event__date">Mar 10th, 2018
          <div class="sub-event__time">6 pm - 10 pm</div>
        </div>
        <h3>MidCamp Party</h3>
        <small class="sub-event__link-text">Learn More<span class="element-invisible"> about MidCamp Party</span></small>
      </div>
    </a>
    <a href="#" class="sub-event">
      <div class="sub-event__bg-img">
        <img src="https://MidCamp.github.io/Hatter//assets/imgs/sprints.jpg" alt="#">
      </div>
      <div class="sub-event__inner">
        <div class="sub-event__date">Mar 11th, 2018</div>
        <h3>Contribution Sprints</h3>
        <small class="sub-event__link-text">Learn More<span class="element-invisible"> about Contribution Sprints</span></small>
      </div>
    </a>
  </div>
</section>



          </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://MidCamp.github.io/Hatter//assets/libraries/styleguide.js"></script>
    <script src="https://MidCamp.github.io/Hatter//assets/js/site.js"></script>

</body>
</html>