/**
 * @file
 * Define the styles for sponsor items Component
 */

.sponsor-1 {
	 background: url(../imgs/amazeeio-logo.jpg);
}

.sponsor-2 {
	 background: url(../imgs/palantirnet-logo.png);
}

.sponsor-3 {
	 background: url(../imgs/amazeeio-logo.jpg);
}


.sponsor-item {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	margin: 0 rhythm(2) 1em;
	text-align: center;
	overflow: hidden;
  height: 0;
  padding-top: 56.25%;
}
