<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template | MidCamp Hatter Styleguide</title>
  <link rel="stylesheet" href="https://midcamp.github.io/Hatter/assets/css/styles.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,400i,700,700i|Poppins:400,700" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" href="https://midcamp.github.io/Hatter/assets/imgs/favicon.ico" type="image/x-icon" />
  <!-- mapbox -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<div class="container">
  <header class="styleguide-header">
    <h5 class="styleguide-label">Living Styleguide</h5>
    <a href="/"><h1>MidCamp Hatter Styleguide</h1></a>
  </header>
</div>

  <div class="styleguide-description">
  <div class="container">
    <div class="l-styleguide-column">
      <main>
        <h2>Template</h2>
        <p> Add Description.</p>
      </main>
    </div>
  </div>
</div>    <div class="styleguide-component">
              <div class="container">
          <div class="l-styleguide-column">
            Place include here.
          </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://midcamp.github.io/Hatter/assets/libraries/styleguide.js"></script>
    <script src="https://midcamp.github.io/Hatter/assets/js/site.js"></script>

</body>
</html>