---
layout: template
title: Schedule
section: template
---

<section class="top-header__wrapper">
    <div class="top-header">
        <div class="container">
            <div class="l-1up">
                {% include 'user-menu.html' %}
            </div>
        </div>
    </div>
</section>

{% include 'navigation.html' %}

<section class="schedule">
  <div class="container">
    <h1>Camp Schedule</h1>
      <div class="schedule__nav">
          <a href="#">Thursday</a> | <a href="#">Friday</a> | <a href="#">Saturday</a> | <a href="#">Sunday</a>
      </div>

      <h2>Friday, March 9, 2018</h2>

      <div class="l-1up schedule__block">
          <h3 class="schedule__times">0:00 to 0:00</h3>
          <div class="l-1up schedule__teaser">
              <h4 class="schedule__title">Registration</h4>
              <div class="schedule__description">Words go here.</div>
              <div class="schedule__room">Room 120AB</div>
          </div>
      </div>

      <div class="l-1up schedule__block">
          <h3 class="schedule__times">0:00 to 0:00</h3>
          <div class="schedule__teaser">
              <div class="schedule__track">Community</div>
              <h4 class="schedule__title"><a href="#"> Growing Developers: Helping Junior Developers Improve & Succeed </a></h4>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Kristen Mayer</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Jane Doe</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__room">Room 324</div>
          </div>
          <div class="schedule__teaser">
              <div class="schedule__track">Design</div>
              <h4 class="schedule__title"><a href="#"> Who do you think your users are? A guide to understanding your users when user research is not an option. </a></h4>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Rick Cecil</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__room">Room 314A</div>
          </div>
          <div class="schedule__teaser">
              <div class="schedule__track">Back-End, Front-End</div>
              <h4 class="schedule__title"><a href="#"> Creating a modern web application using Symfony API Platform, ReactJS and Redux </a></h4>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Jesus Manuel Olivas</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__room">Room 325</div>
          </div>
          <div class="schedule__teaser">
              <div class="schedule__track">Community</div>
              <h4 class="schedule__title"><a href="#"> Making Inclusion Happen Through Mentoring </a></h4>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Allison Manley</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__room">Room 314B</div>
          </div>
      </div>

      <div class="l-1up schedule__block">
          <h3 class="schedule__times">0:00 to 0:00</h3>
          <div class="schedule__teaser">
              <div class="schedule__track">Community</div>
              <h4 class="schedule__title"><a href="#"> Growing Developers: Helping Junior Developers Improve & Succeed </a></h4>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Kristen Mayer</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Jane Doe</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__room">Room 324</div>
          </div>
          <div class="schedule__teaser">
              <div class="schedule__track">Design</div>
              <h4 class="schedule__title"><a href="#"> Who do you think your users are? A guide to understanding your users when user research is not an option. </a></h4>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Rick Cecil</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__room">Room 314A</div>
          </div>
          <div class="schedule__teaser">
              <div class="schedule__track">Back-End, Front-End</div>
              <h4 class="schedule__title"><a href="#"> Creating a modern web application using Symfony API Platform, ReactJS and Redux </a></h4>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Jesus Manuel Olivas</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__room">Room 325</div>
          </div>
          <div class="schedule__teaser">
              <div class="schedule__track">Community</div>
              <h4 class="schedule__title"><a href="#"> Making Inclusion Happen Through Mentoring </a></h4>
              <div class="schedule__speaker">
                  <div class="schedule__speaker__photo">
                      <img src="http://lorempixel.com/200/200/cats" />
                  </div>
                  <div class="schedule__speaker__name">
                      <strong>Allison Manley</strong>, Company Name
                  </div>
                  <div class="schedule__speaker__logo">
                      <img src="http://lorempixel.com/400/200/abstract" />
                  </div>
              </div>
              <div class="schedule__room">Room 314B</div>
          </div>
      </div>

      <div class="l-1up schedule__block">
          <h3 class="schedule__times">0:00 to 0:00</h3>
          <div class="schedule__teaser">
              <h4 class="schedule__title">Lunch</h4>
              <div class="schedule__room">Room</div>
          </div>
      </div>

  </div>

</section>

{% include 'footer.html' %}
